- let parentPath = 'documentation'
-
  let sidebarGeneral = {
    'Starter': `/${parentPath}/starter.html`,
    'Button': `/${parentPath}/button.html`,
    'Icon': `/${parentPath}/icon.html`,
    'Theme': `/${parentPath}/theme.html`,
  }

-
  let sidebarLayout = {
    'Grid': `/${parentPath}/grid.html`,
    'Contain': `/${parentPath}/contain.html`,
    'Margin': `/${parentPath}/margin.html`,
    'Media Query': `/${parentPath}/mediaQuery.html`,
  }

-
  let sidebarNavigation = {
    'Menu': `/${parentPath}/menu.html`,
    'Pagination': `/${parentPath}/pagination.html`,
  }

-
  let sidebarEntry = {
    'Form': `/${parentPath}/form.html`,
  }

-
  let sidebarDisplay = {
    'Avatar': `/${parentPath}/avatar.html`,
    'Card': `/${parentPath}/card.html`,
    'List': `/${parentPath}/list.html`,
    'Table': `/${parentPath}/table.html`,
    'Video': `/${parentPath}/video.html`,
  }

-
  let sidebarFeedback = {
    'Modal': `/${parentPath}/modal.html`,
    'Alert': `/${parentPath}/alert.html`,
    'Message': `/${parentPath}/message.html`,
    'Freeze': `/${parentPath}/freeze.html`,
  }


aside(itemscope="itemscope" itemtype="http://schema.org/WPSideBar" role="complementary").AsideMenu-container
  #AsideMenu-toggle(data-content="Filtros").icon-right
  nav(itemscope itemtype="http://schema.org/WPSideBar").AsideMenu-nav
    ul#AsideMenu.AsideMenu
      li.AsideMenu-header General
      each val, key in sidebarGeneral
        li.AsideMenu-item(itemprop="url")
          a(href=val itemprop="name" title= "Link to " + key)= key
      li.AsideMenu-header Layout
      each val, key in sidebarLayout
        li.AsideMenu-item(itemprop="url")
          a(href=val itemprop="name" title= "Link to " + key)= key
      li.AsideMenu-header Navigation
      each val, key in sidebarNavigation
        li.AsideMenu-item(itemprop="url")
          a(href=val itemprop="name" title= "Link to " + key)= key
      li.AsideMenu-header Entry
      each val, key in sidebarEntry
        li.AsideMenu-item(itemprop="url")
          a(href=val itemprop="name" title= "Link to " + key)= key
      li.AsideMenu-header Display
      each val, key in sidebarDisplay
        li.AsideMenu-item(itemprop="url")
          a(href=val itemprop="name" title= "Link to " + key)= key
      li.AsideMenu-header Feedback
      each val, key in sidebarFeedback
        li.AsideMenu-item(itemprop="url")
          a(href=val itemprop="name" title= "Link to " + key)= key