extends ../../config/template
append config
  -title = "Getting Started"
  -description = "User interfaces whit sedna components."
  -ogUrl = "/starter.html"
  -template = 2
  
block main
  .SnMb-5
    h2 First Example
    p Here is a simple codesandbox example to show the usage of Sedna CSS.
    iframe(
      src="https://codesandbox.io/embed/sedna-getting-started-qmxxd?fontsize=14&hidenavigation=1&theme=dark"
      style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
      title="Sedna Getting Started"
      allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media; usb"
      sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
    )
  .SnDivider
  .SnMb-5
    h2 NPM
    p We recommend using npm or yarn to install, it not only facilitates development, but also allows you to take advantage of the rich ecosystem of Javascript packages and tools.
    pre.language-bash
        code= 'npm install --save sedna'

    h3 Using Component
    p In sedna everything is by css components. Only import the component you require.
    pre.language-scss
      code.
        @import "~sedna/bin/sedna";
        @include SnBtn();
    pre.language-html
        code= '<div class="SnBtn primary">Primary</div>'
  .SnDivider
  .SnMb-5
    h2 Dowloand
    p Download Sedna CSS with all components
    .SnBtn-group
      a(href="/assets/css/sedna.css" download="sedna.css").SnBtn.primary.lg Download Css
      a(href="/assets/script/sedna.js" download="sedna.js").SnBtn.warning.lg Download Js
  .SnDivider
  .SnMb-5
    h2 Simple Using
    pre.language-html
      code= '<!DOCTYPE html>\n<html lang="en">\n<head>\n    <link rel="stylesheet" href="sedna.css">\n    <script src="sedna.js"></script>\n</head>\n<body>\n    <div class="SnBtn primary">Primary</div>\n</body>\n</html>\n'